@import "~highlight.js/styles/atom-one-dark.css";
@import "~@lgv/visualization-chart/src/example/style/typeface.css";
@import "~@lgv/visualization-chart/src/example/style/index.css";

.lgv-arc {
    cursor: pointer;
}

.lgv-arc:hover {
    fill: #7aaeb1;
    -moz-transition: fill 0.5s ease;
    -o-transition: fill 0.5s ease;
    -webkit-transition: fill 0.5s ease;
    transition: fill 0.5s ease;
}

.lgv-label {
    font-size: 0.8em;
}

.lgv-label tspan:last-of-type {
    font-family: "Inter Bold";
}